{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}
    
    <main>
        
        <twig:ConferenceSearch />
        
        
    </main>
    
{% endblock %}
